body {
	margin: 0;
	font-family: 'arial';
	background-color: black;
}

video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.swipe-target {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30%;
	color: white;
	-webkit-user-select: none;
	user-select: none;
	display: none;
}

.swipe-target span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 10vw;
	font-size: 5vw;
	width: 100%;
	text-align: center;
}
